body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: -10px;
}
main {
    flex: 1 0 auto;
    background-color: #E1E7ED;
    margin-top: 30px;
    
    border-top: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: #76ff03;
    
    
    
}
/*Posts*/
.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: black;
    font-style: italic;
}

.second-div {
    
    height: 30px;
    width:  1925px;
    margin-top: 0px;
}




.two {
    margin-top: 20px;
}

footer {
    padding-top: -10px;
}

.trash {
    margin-left: 100px;
}

.white-out-post {
    margin-left: 400px;
}

a {
    color: white;
}
