<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="css/home.css" rel="stylesheet" type="text/css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper green darken-3">
                    <a href="#" class="brand-logo">-Todo List</a>
                    <!-- Dropdown Trigger -->
                  <a class='dropdown-button btn right' href='#' data-activates='dropdown1'>Login & Home</a>
                  
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="admin.html">Login</a></li>
                    <li class="divider"></li>
                    
                </ul> 
                    <ul class="left">
                        <li><a href="index.html"></a></li>
                        <li><a href="admin.html"></a></li>
                    </ul>
                 </div>
                
                <div class="second-div  light-green accent-3">
                    
                </div>
                
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">Task Form</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-green accent-3">
            <div class="container">
                <p><a href="#"></a></p>
            </div>
            <div class="footer-copyright green darken-4">
                <center><div class="container">
                    @2016 YaBoiJohnny
                    </div></center>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
          <div class="col s6">
           <h2 class="center-align">Login</h2>
           <div>
               <form class="col s12 form-signin">
                   <div class="row">
                       <div class="input-field col s12">
                           <input id="email" type="email" name="email" class="validate">
                           <label for="email">Email</label>
                       </div>
                   </div>
                   <div class="row">
                       <div class="input-field col s12">
                           <input id="password" type="password" name="password" class="validate">
                           <label for="password">Password</label>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col s12">
                           <p class="right-align">
                               <button <a gotError="Materialize.toast('Incorrect Login', 4000)" class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                           </p>
                       </div>
                   </div>
               </form>
           </div>
       </div>
       </script>
       <script id="welcome-template" type="text/x-handlebars-template">
           <center><h2>Welcome, {{email}}</h2></center>
           <center><button class="btn btn-large waves-effect waves-light add-blog ">Add a new Task</button></center>
           <center><button class="btn btn-large waves-effect waves-light logout two">Logout</button></center>
       </script>
       <script id="add-blog-template" type="text/x-handlebars-template">
           <h2>Add a new Task</h2>
       <div class="row">
           <form class="col s12 form-add-blog">
               <div class="row">
                   <div class="input-field col s12">
                       <input id="title" type="text" name="title">
                       <label for="title">Name of Task</label>
                   </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                       <textarea id="content" name="content" class="materialize-textarea"></textarea>
                       <label for="content">Details</label>
                   </div>
               </div>
               <div class="row">
                   <div class="col s12">
                       <p class="right-align">
                           <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                       </p>
                   </div>
               </div>
           </form>
       </div>
       </script>
       
      </body>
  </html>