<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="css/home.css" rel="stylesheet" type="text/css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                 <div class="nav-wrapper green darken-3">
                    <a href="#" class="brand-logo">-ToDoList!</a>
                    <!-- Dropdown Trigger -->
                  <a class='dropdown-button btn right' href='#' data-activates='dropdown1'>Login & Home</a>
                  
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="admin.html">Login</a></li>
                    <li class="divider"></li>
                    
                </ul> 
        
                    
                    <ul class="left">
                        <li><a href="index.html"></a></li>
                        <li><a href="admin.html"></a></li>
                    </ul>
                
                
                
                </div>
                
                <div class="second-div  light-green accent-3">
                    
                </div>
                
                
                
                
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <u><h1 class="center-align">My Tasks</h1></u>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-green accent-3">
            <div class="container">
                <p><a href="#"></a></p>
            </div>
            <div class="footer-copyright green darken-3">
                <center><div class="container">
                    @2016 YaBoiJohnny
                    </div></center>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/home.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
        <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
             <div class="blog-post">
               <center><h2 class="blog-post-title"><font color="red">{{title}}</font></h2></center>
               <center><p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p></center>
               <div>{{content}}</div>
               <button class="btn btn-large waves-effect waves-light yellow white-out-post">Check off Lists</button>
               <button class="btn btn-large waves-effect waves-light red trash" type="submit" name="action" data={{objectId}}>delete</button>
             </div>
          {{/each}}
        </script>
        
        <script id="check-done-template" type="text/x-handlebars-template">
         <div class="white-text">
         <center><h4 class="blog-post-meta italic">This todlist has been marked</h4></center>
         <center><button class="btn btn-small waves-effect waves-light white-in-post red"><a href="index.html">Uncheck</a></button></center>
         <center><button class="btn btn-small waves-effect waves-light  yellow"><a href="admin.html">Add new Task</a></button></center>
         </div>
        </script>
      </body>
  </html>
